html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ddd4bc;
}



/* HEADER*/

header {
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgba(248,220,11,1) 0%, rgba(251,170,39,1) 100%);
  border-bottom: 3px solid #3d3c3a;
}

.fake-header {
  width: 100%;
  height: 100%;
  border-bottom: 4px ridge #707070;
  background-image: url('imgs/city.png');
  background-size: auto 60px;
  background-repeat: repeat-x;
  background-position: bottom;
  opacity: .04;
}



/* CONTAINER */

.container {
  width: 100%;
  height: 100% - 30px;
  border-top: 2px solid rgba(248,220,11,1);
}



/* PLAYERS SECTION */

.players-container {
  width: 50%;
  height: 100%;
  padding: 2rem;
  position: relative;
}

.players-container .header {
  width: 100%;
  height: 30px;
}

.players-container h1 {
  height: 1.7rem;
  width: 500px;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  color: #ddd4bc;
  text-align: right;
  background-color: #000;
  position: absolute;
  top: 10px;
  left: -250px;
}

.player-list {
  height: calc(100% - 40px);
  width: 100%;
  margin-top: 40px;
}

.player-list li {
  color: #ddd4bc;
  font-size: 2.6rem;
  background-color: #000;
  margin-bottom: .4rem;
  display: flex;
  flex-direction: row;
}
