.reg-cover {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .82);
  position: absolute;
  z-index: 999;
}

.registration {
  height: 80%;
  width: 1000px;
  margin-left: 10%;
  margin-top: 5%;
  padding: 1.4rem;
  font-size: 2.2rem;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  top: 0;
  border-radius: 5px;
  position: relative;
}




/* PLAYERS SECTION */

.players {
  width: 50%;
  min-width: 450px;
  height: 100%;
  overflow: scroll;
}

.players > button,
.alcohol_stock > button {
  width: auto;
  margin-bottom: 25px;
  padding: 0 10px;
  color: #fff;
  transition: all .4s ease;
}

#add_player {
  background: #4fce2c;
}

.handle_player {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playerInput {
  height: 2.4rem;
  width: 60%;
}

input {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 3px;
  border-radius: 5px;
}

input:focus {
  outline: 2px solid #fbaa27;
}

.handle_player .delete_player {
  background: #ce2c2c;
}




/* ALCOHOL STOCK */

.alcohol_stock {
  width: 50%;
  min-width: 450px;
  height: 90%;
  overflow: scroll;
}

#add_alcohol_type {
  background: #4fce2c;
}

#add_alcohol_type:hover {
  background: #ce9e2c;
}

.alcohol_inputs {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alcohol_inputs > select {
  width: auto;
  font-size: 2rem;
}

.alcohol_spec > input {
  width: 120px;
}

.alcohol_spec .delete {
  background: #ce2c2c;
}

.submit {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -60px;
  background: #bb4cdb;
  border-radius: 50%;
}
