.reg-cover {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .82);
  position: absolute;
  z-index: 999;
}

.registration {
  height: 80%;
  width: 1000px;
  margin-left: 10%;
  margin-top: 5%;
  padding: 1.4rem;
  font-size: 2.2rem;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  top: 0;
  border-radius: 5px;
}

.players {
  width: 50%;
  min-width: 500px;
  height: 100%;
}

.players > button {
  width: auto;
  margin-bottom: 25px;
  padding: 0 10px;
  color: #fff;
}

.players > button:hover {
  transform: scaleX(1.);
}

#add_player {
  background: #4fce2c;
}

.handle_player {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playerInput {
  height: 2.4rem;
  width: 60%;
}

input {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 3px;
  border-radius: 5px;
}

input:focus {
  outline: 2px solid #fbaa27;
}


/*
input, .alcohol_selector {
  height: 30px;
  width: 160px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-size: 1rem;
}
.alcohol_selector {
  width: 200px;
  background-color: inherit;
}


.players, .alcohol_stock {
  height: 100%;
  width: 50vw;
  background-color: inherit;
  padding: 2.5rem;
  overflow-x: scroll;
  align-content: center;
}

.players *, .alcohol_stock * {
  margin: 20px 0;
  display: block;
}

.players button, .alcohol_stock button {
  width: 50%;
  padding: 15px;
  background-color: #668B8B;
  color: white;
  font-size: 1.2rem;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 2px;
}

.alcohol_stock button {
  width: 300px;
}

.alcohol_stock {
  height: 100%;
  width: 50vw;
  background-color: inherit;
  left: 50vw;
  padding: 2.5rem;
}

.alcohol_inputs {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}*/
